# Default SDK configuration for ESP32-P4
CONFIG_IDF_TARGET="esp32p4"
CONFIG_ESP32P4_REV_MIN=0

# Enable UART
CONFIG_ESP_CONSOLE_UART_DEFAULT=y
CONFIG_ESP_CONSOLE_UART_NUM=0
CONFIG_ESP_CONSOLE_UART_BAUDRATE=115200

# Enable Bluetooth
CONFIG_BT_ENABLED=y
CONFIG_BTDM_CTRL_MODE_BLE_ONLY=y
CONFIG_BT_BLE_42_FEATURES_SUPPORTED=y
CONFIG_BT_ALLOCATION_FROM_SPIRAM_FIRST=y

# ADC Configuration
CONFIG_ADC_CAL_EFUSE_LS_BIT_LEN=0
CONFIG_ADC_CAL_EFUSE_MS_BIT_LEN=0
CONFIG_ADC_CAL_VOLTAGE_REF=1100
CONFIG_ADC_CAL_LPF_COEFFICIENT=2

# DAC Configuration
CONFIG_DAC_CTRL_DH_NUM=1024

# LEDC (PWM) Configuration
CONFIG_LEDC_DEFAULT_CLK=2

# Component Config
CONFIG_LWIP_SO_REUSEADDR=y
CONFIG_LWIP_SO_REUSE_RXTOALL=y

# System Config
CONFIG_ESP_TASK_WDT=y
CONFIG_ESP_TASK_WDT_TIMEOUT_S=5
